<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>HTML5中Canvas元素绘制钟表</title>  
    <style>
        .clockDiv{min-width:1200px;height:600px;margin:10px auto;text-align:center;}
        canvas {
            background-color: #000;
        }
    </style>
</head>
<body>
    <div class="clockDiv"> 
        <canvas id="clock" width="700" height="600">您的浏览器不支持canvas标签</canvas>
        <img id="scream" src="../../img/img_the_scream.jpg" />
    </div>
</body>
</html>
<script src="../../js/clock.js"></script>